<div class="card row">
    <div id="Register" class="tab col" (click)="navigateTo('Register')">
        Registration
    </div>
    <div id="Check" class="tab col" (click)="navigateTo('Check')">
        Wellness Check
    </div>
    <div id="Consent" class="tab col" (click)="navigateTo('Consent')">
        Consent Form
    </div>
    <div id="Track" class="tab col" (click)="navigateTo('Track')">
        Progress Track
    </div>
    <div id="Notes" class="tab col" (click)="navigateTo('Notes')">
        Progress Notes
    </div>
</div>

