<nav  class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand"><h3>Kind Homes</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-underline">
            <li class="nav-item">
              <a class="nav-link" (click)="navigateTo('tracking')">Tracking</a>
            </li> 
            <li class="nav-item" >
              <a class="nav-link" (click)="navigateTo('registration')">Registration</a>
            </li>                       
            <li class="nav-item">
              <a class="nav-link" (click)="navigateTo('reporting')" data-bs-toggle="tooltip" data-bs-title="Default tooltip">Reporting</a>
            </li>
          </ul>        
      </div>
      
    </div>
  </nav>